/* GLOBAL DEFAULTS */

body {
    background-color: blanchedalmond;
} 
a{
    color: rgb(70, 87, 69);
}

img{
    max width 100%;
}

/* HEADINGS AND TYPOGRAPHY */
h1{
    background-color: blanchedalmond;
    color: burlywood;
    font-family: Raleway;
}

h2{color: black;
font-size: 20px;
font-family: Raleway;}

/* LAYOUTS */
.layout-wide{
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;

    padding: 20px;

}
/* HEADER, MAIN & FOOTER */ 

header {
    background-color: beige;
}

main {background-color: blanchedalmond;
}

/* NAVIGATION */

/* MODULES */
