/* GLOBAL DEFAULTS */
@import 'https://necolas.github.io/normalize.css/8.0.1/normalize.css';

body {
    background-color: white;
    font-family: FreightBig Pro;
} 
a{
    color: rgb(70, 87, 69);
}

img,
iframe {
    max-width: 100%;
}

/* HEADINGS AND TYPOGRAPHY */
h1{
    color: rgb(63, 62, 62);
    font-family: FreightBig Pro;

}

h2{color: rgb(63, 62, 62);
font-size: 20px;
font-family: FreightBig Pro;}

/* LAYOUTS */
.layout-wide{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;

    padding: 20px;

}
/* HEADER, MAIN & FOOTER */ 

header {
    background-color:white;
}

main {background-color:whitesmoke;
}

footer {background-color: rgb(63, 62, 62);
    color: whitesmoke;
padding: 50px;}

/* NAVIGATION */

/* MODULES */
.news-component {
    background-color: white;
    padding: 20px;
}

@media screen and (min-width: 800px) {
    .news-component {background-color: rgb(224, 220, 211);
        display: grid; grid-template-columns: 50% 50%;
        grid-gap: 10px; 
       

    }

}

